version: 2.1
executors:
  default:
    docker:
      - image: buildpack-deps:trusty
    working_directory: ~/workspace

commands:
  install_terraform: 
    steps:
      - run:
          name: 'install terraform'
          command: |
            cd /tmp
            curl https://releases.hashicorp.com/terraform/0.13.0/terraform_0.13.0_linux_amd64.zip -o terraform.zip
            unzip terraform.zip
            sudo mv terraform /usr/local/bin
            rm -f terraform.zip
jobs:
  terraform_plan:
    parameters:
      provider:
        type: enum
        enum: ["terraform"]
      dir_env:
        type: enum
        enum: ["staging", "production"]
      param_env:
        type: enum
        enum: ["STG", "PRD"]
    executor:
      name: default
    steps:
      - checkout
      - install_terraform
      - run:
          name: 'terraform plan'
          command: |
            # # tfstateをs3で管理するために利用する認証情報
            # export AWS_ACCESS_KEY_ID=${<< parameters.param_env >>_AWS_ACCESS_KEY_ID}
            # export AWS_SECRET_ACCESS_KEY=${<< parameters.param_env >>_AWS_SECRET_ACCESS_KEY}
            terraform fmt -check=true -diff=true
            terraform init 
            terraform plan

  terraform_apply:
    parameters:
      provider:
        type: enum
        enum: ["terraform"]
      dir_env:
        type: enum
        enum: ["staging", "production"]
      param_env:
        type: enum
        enum: ["STG", "PRD"]
    executor:
      name: default
    steps:
      - checkout
      - install_terraform
      - run:
          name: "terraform apply"
          command: |
            # # tfstateをs3で管理するために利用する認証情報
            # export AWS_ACCESS_KEY_ID=${<< parameters.param_env >>_AWS_ACCESS_KEY_ID}
            # export AWS_SECRET_ACCESS_KEY=${<< parameters.param_env >>_AWS_SECRET_ACCESS_KEY}
            terraform init 
            terraform plan

workflows:
  plan_and_deploy:
    jobs:
      # #staging
      - terraform_plan:
          name: terraform_plan_stg
          provider: terraform
          dir_env: staging
          param_env: STG
          filters:
            branches:
              only: main
      - hold:
          name: approval_terraform_apply_stg
          type: approval
          requires:
            - terraform_plan_stg
          filters:
            branches:
              only: main
      - terraform_apply:
          name: terraform_apply_stg
          provider: terraform
          dir_env: staging
          param_env: STG
          requires:
            - approval_terraform_apply_stg
          filters:
            branches:
              only: main
      # #Production
      # - terraform_plan:
      #     name: terraform_plan_prd
      #     provider: terraform
      #     dir_env: production
      #     param_env: PRD
      #     filters:
      #       tags:
      #         only: /^v[0-9]+(\.[0-9]+){2}$/
      #       branches:
      #         ignore: /.*/ #[NOTE]マージ＆PRに反応しないようにする
      # - hold:
      #     name: approval_terraform_apply_prd
      #     type: approval
      #     requires:
      #       - terraform_plan_prd
      #     filters:
      #       tags:
      #         only: /^v[0-9]+(\.[0-9]+){2}$/
      #       branches:
      #         ignore: /.*/
      # - terraform_apply:
      #     name: terraform_apply_prd
      #     provider: terraform
      #     dir_env: production
      #     param_env: PRD
      #     requires:
      #       - approval_terraform_apply_prd
      #     filters:
      #       tags:
      #         only: /^v[0-9]+(\.[0-9]+){2}$/
      #       branches:
      #         ignore: /.*/
